{% extends "main.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Hello, world!</h1>
    {% for scanner in scanners %}
        <a class="btn btn-default" href="/scanner/{{ scanner.model|e }}">{{ scanner.model|e }}</a>
        {{ scanner.id|e }}
    {% else %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        No scanners found!
    </div>
    {% endfor %}
</div>
{% endblock %}